<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar, class: "img-responsive img-rounded"  if @user.avatar? %>
            <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX9802100.jpg",
              class: "img-responsive img-rounded" if !@user.avatar?%>
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <% if @user.name? %>
            <h2><%= @user.name %></h2>
            <% else %>
            <h2><%= @user.email.split('@').first %></h2>
          <% end %>

          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>

      </div>

      <br>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</h3>
        </div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
          <div class="my-restaurant">
            <div>
              <% if restaurant.image? %>
              <%= image_tag restaurant.image, class: "img-responsive img-rounded" %>
              <% else %>
              <%= image_tag "image_restaurant.png", class: "img-responsive img-rounded" %>
              <% end %>
            </div>
            <h5><%= restaurant.name %></h5>
          </div>
          <% end %>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>